body{
   
    background-image: url("./img/bg.jpg");
     
    background-repeat: no-repeat;
    background-size: 100% 100vh; /* Modifica el tamaño del ancho y ajusta automáticamente el alto */
    background-position: center top; 
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
